h1 {
    color: #3080d0;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
}

.info {
    text-align: center;
    margin: 0 auto;
    max-width: 760px;
}
